
<button appChangecolour defaultColor={{colour}} class="btn btn-primary" *ngIf="num>=1" >Filter-1</button>&nbsp;&nbsp;

<button appChangecolour defaultColor={{colour}} class="btn btn-primary" *ngIf="num>=2" >Filter-2</button>&nbsp;&nbsp;

<button appChangecolour defaultColor={{colour}} class="btn btn-primary" *ngIf="num>=3" >Filter-3</button>&nbsp;&nbsp;

<button appChangecolour defaultColor={{colour}} class="btn btn-primary" *ngIf="num>=4" >Filter-4</button>&nbsp;&nbsp;

<button appChangecolour defaultColor={{colour}} class="btn btn-primary" *ngIf="num>=5" >Filter-5</button>&nbsp;&nbsp;


